/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    margin: 0px;
    font-family: Arial,sans-serif;
    background-color: #f5f8fa;
}
.squaredicon {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
    overflow: hidden;
}
.squaredRow {
    width: 100%;
    height: 5%;
}
.miniblock {
    width: 5%;
    height: 100%;
    background-color: #78B3C1;
    float: left;
    margin: 0px;
    border-radius: 1px;
}

.whitened {
    background-color: white;
}
.filled {
    background-color: #DFD762;
}
.filled.shining {
    background-color: #F29251;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.accent {
    background-color: #6E4997;
}
.accent.shining {
    background-color: #6E4997;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.empty {
}
.progresss {
}
.progresss.shining {
    background-color: #397989;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.center {
    margin: 0px auto;
}

.zdjecie {
    bottom: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
}

#headerRowInfo {
    height: 200px;
}

.profileWithNav {
    position: relative;
}

.profileHeader {
    height: 400px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
    background-image: url(../img/profileBg3.png);
    color: black;
}

.profileAvatar {
    position: absolute;
    bottom: -20px;
    left: 50px;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px 1px rgba(136,153,166,0.4);
    border-radius: 12px;
    overflow: hidden;
}

#navContainer {

}

.profileNav {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 250px;
}

.profileNavList {
    margin: 0px 0px 0px 50px;
    padding: 0px;
    list-style: none;


}

.profileNavItem {
    display: inline-block;
    padding: 10px;
}

.profileName {
    position: absolute;
    padding: 0px 25px;
    bottom: 50px;
    left: 280px;
    font-weight: bold;
    color: #0084B4;
}

#profileContainer {
    padding: 0px;
}

#skills {
}

.skillsContainer {
    background-color: #fff;
    color: black;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
    padding-bottom: 50px;
}

#skillsRow {
    margin: 0px;
}

.iconContainer {
    display: inline-block;
    width: 33%;
}

.skillsIcon {
    background-color: white;
    border-radius:15px;
    margin: 5px;
}

.skillsTitle {
    width: 100%;
    border: 1px solid gray;
}

.skillsHeader {
    color: #0084B4;
}

.coloredbox {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.bluebox {
}

.orangebox {
    background-color: #ffb300;
}

.redbox {
    background-color: #f30021
}

.schoolworklist {
    list-style: none;
}

.schoolworklistitem {
    font-size: 1em;
    display: inline;
}

.schoolName {
    display: inline-block;
    width: 70%;
}

.schoolTimeline {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 20px;
}

.startingDate {
    position: absolute;
    top: -1.5em;
    right: 0px;
}

.endingDate {
    position: absolute;
    top: -1.5em;
    left: 0px;
}

.schoolWorkBox {
    position: relative;
    margin-bottom: 15px;
    background-color: #f5f8fa;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
}
.workBox {
    position: relative;
    margin-bottom: 15px;
    background-color: #f5f8fa;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
}

.verticalLine {
    width: 3px;
    height: 20px;
    position: absolute;
    right: -6px;
    background-color: #aaa;
}

.blueBox.finished {
    background-color: #78B3C1;
}

.blueBox.unfinished {
    background-color: #6BE3FF;
}
.orangeBox.finished {
    background-color: #DFD762;
}

.orangeBox.unfinished {
    background-color: #DFE683;
}
.redBox.finished {
    background-color: #F29251;
}

.redBox.unfinished {
    background-color: #FF9F40;
}
.greenBox.finished {
    background-color: #6E4997;
}

.greenBox.unfinished {
    background-color: #B764D4;
}
.timeLineAxis {
    position: relative;
    height: 4px;
    background-color: #eef;
}

.schoolOneTimeLine {
    position: absolute;
    left: 20px;
    top: -25px
}

.schoolTwoTimeLine {
    position: absolute;
    left: 110px;
    top: -25px
}

.workOneTimeLine {
    position: absolute;
    left: 80px;
    top: 10px;
}

.timelinerow {
    padding: 0px 50px;
}

.elo {
    height: 200px;
}

.schoolWorkTimeLine {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
}

.workTwoTimeLine {
    position: absolute;
    left: 140px;
    top: 35px;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: #428bca;
}
.profileNavLink:link .profileNavLink:active .profileNavLink:visited {
    color: black;
}

.avatarimg {
    width:200px;
    position: absolute;
    top:-40px
}



.educationBox {
    width: 100%;
}

.experienceBox {
    width: 100%;
}

.skillBox {
    margin:15px;
    background-color: #f5f8fa;
    border-radius: 10px;
    padding: 15px 0px 5px 0px;
    box-shadow: 0 5px 5px rgba(136,153,166,0.15);
}
