body {
    margin: 0px;
}
.wrapper {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: white;
}
.icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.squaredRow {
    width: 100%;
    height: 5%;
}
.miniblock {
    width: 5%;
    height: 100%;
    background-color: #E9633B;
    float: left;
}

.whitened {
    background-color: white;
}
.empty {
    background-color: #E9633B;
}
.filled {
    background-color: white;
}
.filled.shining {
    background-color: white;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.accent {
}
.accent.shining {
    background-color: #E9633B;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.progress {
}
.progress.shining {
    background-color: green;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}